# Database Credentials
/backend/core/config.php
/backend/core/config.py

# Environment configs
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Javascript dependencies (ถ้ามีในอนาคต)
node_modules/

# ไม่ติดตามไฟล์ .jpg ทุกไฟล์ในโฟลเดอร์นี้
*.jpg
*.png
*.jpeg